.background{
  background-color: #dbdbdb;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel_canvas{
  width: fit-content;
  position: relative;
}
.carousel{
  display: flex;
  gap: 10px;
  background-color: #ececec;
  padding: 10px 50px;
  border-radius: 5px;
  max-width: 600px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.programing_item{
  min-width: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 4px #999;
  transition: all ease-out 0.2s;
}
.programing_item:hover{
  transform: scale(1.1);
}

.previous, .next{
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.previous{
  left: 0;
}
.next{
  right: 0;
}